

NET "DYP0[0]" LOC = B26;
NET "DYP0[1]" LOC = C25;
NET "DYP0[2]" LOC = D24;
NET "DYP0[3]" LOC = A25;
NET "DYP0[4]" LOC = B24;
NET "DYP0[5]" LOC = C26;
NET "DYP0[6]" LOC = D26;
NET "DYP1[0]" LOC = C24;
NET "DYP1[1]" LOC = D22;
NET "DYP1[2]" LOC = E23;
NET "DYP1[3]" LOC = B23;
NET "DYP1[4]" LOC = A23;
NET "DYP1[5]" LOC = D23;
NET "DYP1[6]" LOC = B25;
NET "FPGA_Key[0]" LOC = Y1;
NET "FPGA_Key[1]" LOC = Y3;
NET "FPGA_Key[2]" LOC = AA3;
NET "FPGA_Key[3]" LOC = AA5;
NET "FPGA_LED[0]" LOC = N26;
NET "FPGA_LED[1]" LOC = M26;
NET "FPGA_LED[2]" LOC = L25;
NET "FPGA_LED[3]" LOC = L26;
NET "FPGA_LED[4]" LOC = K26;
NET "FPGA_LED[5]" LOC = M23;
NET "FPGA_LED[6]" LOC = K24;
NET "FPGA_LED[7]" LOC = L24;
NET "FPGA_LED[8]" LOC = J24;
NET "FPGA_LED[9]" LOC = G23;
NET "FPGA_LED[10]" LOC = J25;
NET "FPGA_LED[11]" LOC = J26;
NET "FPGA_LED[12]" LOC = H26;
NET "FPGA_LED[13]" LOC = G25;
NET "FPGA_LED[14]" LOC = G26;
NET "FPGA_LED[15]" LOC = F26;
NET "InterConn[0]" LOC = P24;
NET "InterConn[1]" LOC = R26;
NET "InterConn[2]" LOC = R24;
NET "InterConn[3]" LOC = R25;
NET "InterConn[4]" LOC = R23;
NET "InterConn[5]" LOC = T26;
NET "InterConn[6]" LOC = T24;
NET "InterConn[7]" LOC = T23;
NET "InterConn[8]" LOC = U24;
NET "InterConn[9]" LOC = U23;
NET "SW_DIP[0]" LOC = Y5;
NET "SW_DIP[1]" LOC = W1;
NET "SW_DIP[2]" LOC = W2;
NET "SW_DIP[3]" LOC = V1;
NET "SW_DIP[4]" LOC = U1;
NET "SW_DIP[5]" LOC = U2;
NET "SW_DIP[6]" LOC = R1;
NET "SW_DIP[7]" LOC = R2;
NET "SW_DIP[8]" LOC = P1;
NET "SW_DIP[9]" LOC = N1;
NET "SW_DIP[10]" LOC = N2;
NET "SW_DIP[11]" LOC = M1;
NET "SW_DIP[12]" LOC = L1;
NET "SW_DIP[13]" LOC = L2;
NET "SW_DIP[14]" LOC = W5;
NET "SW_DIP[15]" LOC = W3;
NET "SW_DIP[16]" LOC = V4;
NET "SW_DIP[17]" LOC = V3;
NET "SW_DIP[18]" LOC = U4;
NET "SW_DIP[19]" LOC = U3;
NET "SW_DIP[20]" LOC = T4;
NET "SW_DIP[21]" LOC = R4;
NET "SW_DIP[22]" LOC = R3;
NET "SW_DIP[23]" LOC = P5;
NET "SW_DIP[24]" LOC = P3;
NET "SW_DIP[25]" LOC = N4;
NET "SW_DIP[26]" LOC = N3;
NET "SW_DIP[27]" LOC = N5;
NET "SW_DIP[28]" LOC = M4;
NET "SW_DIP[29]" LOC = M3;
NET "SW_DIP[30]" LOC = L4;
NET "SW_DIP[31]" LOC = L3;
NET "CLK11M00592" LOC = U25;
NET "CLK50M" LOC = U26;
NET "CLK_From_Key" LOC = T3;
NET "Reset" LOC = T1;
