//! **************************************************************************
// Written by: Map P.28xd on Thu Nov 26 21:58:33 2015
//! **************************************************************************

SCHEMATIC START;
COMP "SW_DIP<28>" LOCATE = SITE "M4" LEVEL 1;
COMP "CLK50M" LOCATE = SITE "U26" LEVEL 1;
COMP "SW_DIP<29>" LOCATE = SITE "M3" LEVEL 1;
COMP "FPGA_Key<0>" LOCATE = SITE "Y1" LEVEL 1;
COMP "FPGA_Key<1>" LOCATE = SITE "Y3" LEVEL 1;
COMP "FPGA_Key<2>" LOCATE = SITE "AA3" LEVEL 1;
COMP "FPGA_LED<0>" LOCATE = SITE "N26" LEVEL 1;
COMP "FPGA_Key<3>" LOCATE = SITE "AA5" LEVEL 1;
COMP "FPGA_LED<1>" LOCATE = SITE "M26" LEVEL 1;
COMP "FPGA_LED<2>" LOCATE = SITE "L25" LEVEL 1;
COMP "FPGA_LED<3>" LOCATE = SITE "L26" LEVEL 1;
COMP "CLK_From_Key" LOCATE = SITE "T3" LEVEL 1;
COMP "FPGA_LED<4>" LOCATE = SITE "K26" LEVEL 1;
COMP "FPGA_LED<5>" LOCATE = SITE "M23" LEVEL 1;
COMP "SW_DIP<0>" LOCATE = SITE "Y5" LEVEL 1;
COMP "FPGA_LED<6>" LOCATE = SITE "K24" LEVEL 1;
COMP "SW_DIP<1>" LOCATE = SITE "W1" LEVEL 1;
COMP "FPGA_LED<7>" LOCATE = SITE "L24" LEVEL 1;
COMP "SW_DIP<2>" LOCATE = SITE "W2" LEVEL 1;
COMP "FPGA_LED<8>" LOCATE = SITE "J24" LEVEL 1;
COMP "SW_DIP<3>" LOCATE = SITE "V1" LEVEL 1;
COMP "FPGA_LED<9>" LOCATE = SITE "G23" LEVEL 1;
COMP "SW_DIP<4>" LOCATE = SITE "U1" LEVEL 1;
COMP "SW_DIP<5>" LOCATE = SITE "U2" LEVEL 1;
COMP "CLK11M00592" LOCATE = SITE "U25" LEVEL 1;
COMP "SW_DIP<6>" LOCATE = SITE "R1" LEVEL 1;
COMP "SW_DIP<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "SW_DIP<8>" LOCATE = SITE "P1" LEVEL 1;
COMP "SW_DIP<9>" LOCATE = SITE "N1" LEVEL 1;
COMP "FPGA_LED<10>" LOCATE = SITE "J25" LEVEL 1;
COMP "FPGA_LED<11>" LOCATE = SITE "J26" LEVEL 1;
COMP "FPGA_LED<12>" LOCATE = SITE "H26" LEVEL 1;
COMP "FPGA_LED<13>" LOCATE = SITE "G25" LEVEL 1;
COMP "FPGA_LED<14>" LOCATE = SITE "G26" LEVEL 1;
COMP "Reset" LOCATE = SITE "T1" LEVEL 1;
COMP "InterConn<0>" LOCATE = SITE "P24" LEVEL 1;
COMP "DYP0<0>" LOCATE = SITE "B26" LEVEL 1;
COMP "FPGA_LED<15>" LOCATE = SITE "F26" LEVEL 1;
COMP "InterConn<1>" LOCATE = SITE "R26" LEVEL 1;
COMP "DYP0<1>" LOCATE = SITE "C25" LEVEL 1;
COMP "InterConn<2>" LOCATE = SITE "R24" LEVEL 1;
COMP "DYP0<2>" LOCATE = SITE "D24" LEVEL 1;
COMP "InterConn<3>" LOCATE = SITE "R25" LEVEL 1;
COMP "DYP0<3>" LOCATE = SITE "A25" LEVEL 1;
COMP "InterConn<4>" LOCATE = SITE "R23" LEVEL 1;
COMP "DYP1<0>" LOCATE = SITE "C24" LEVEL 1;
COMP "DYP0<4>" LOCATE = SITE "B24" LEVEL 1;
COMP "InterConn<5>" LOCATE = SITE "T26" LEVEL 1;
COMP "DYP1<1>" LOCATE = SITE "D22" LEVEL 1;
COMP "DYP0<5>" LOCATE = SITE "C26" LEVEL 1;
COMP "SW_DIP<10>" LOCATE = SITE "N2" LEVEL 1;
COMP "InterConn<6>" LOCATE = SITE "T24" LEVEL 1;
COMP "DYP1<2>" LOCATE = SITE "E23" LEVEL 1;
COMP "DYP0<6>" LOCATE = SITE "D26" LEVEL 1;
COMP "SW_DIP<11>" LOCATE = SITE "M1" LEVEL 1;
COMP "InterConn<7>" LOCATE = SITE "T23" LEVEL 1;
COMP "DYP1<3>" LOCATE = SITE "B23" LEVEL 1;
COMP "SW_DIP<20>" LOCATE = SITE "T4" LEVEL 1;
COMP "SW_DIP<12>" LOCATE = SITE "L1" LEVEL 1;
COMP "InterConn<8>" LOCATE = SITE "U24" LEVEL 1;
COMP "DYP1<4>" LOCATE = SITE "A23" LEVEL 1;
COMP "SW_DIP<21>" LOCATE = SITE "R4" LEVEL 1;
COMP "SW_DIP<13>" LOCATE = SITE "L2" LEVEL 1;
COMP "InterConn<9>" LOCATE = SITE "U23" LEVEL 1;
COMP "DYP1<5>" LOCATE = SITE "D23" LEVEL 1;
COMP "SW_DIP<14>" LOCATE = SITE "W5" LEVEL 1;
COMP "SW_DIP<22>" LOCATE = SITE "R3" LEVEL 1;
COMP "SW_DIP<30>" LOCATE = SITE "L4" LEVEL 1;
COMP "DYP1<6>" LOCATE = SITE "B25" LEVEL 1;
COMP "SW_DIP<15>" LOCATE = SITE "W3" LEVEL 1;
COMP "SW_DIP<23>" LOCATE = SITE "P5" LEVEL 1;
COMP "SW_DIP<31>" LOCATE = SITE "L3" LEVEL 1;
COMP "SW_DIP<16>" LOCATE = SITE "V4" LEVEL 1;
COMP "SW_DIP<24>" LOCATE = SITE "P3" LEVEL 1;
COMP "SW_DIP<17>" LOCATE = SITE "V3" LEVEL 1;
COMP "SW_DIP<25>" LOCATE = SITE "N4" LEVEL 1;
COMP "SW_DIP<18>" LOCATE = SITE "U4" LEVEL 1;
COMP "SW_DIP<26>" LOCATE = SITE "N3" LEVEL 1;
COMP "SW_DIP<19>" LOCATE = SITE "U3" LEVEL 1;
COMP "SW_DIP<27>" LOCATE = SITE "N5" LEVEL 1;
SCHEMATIC END;

