//! **************************************************************************
// Written by: Map P.28xd on Sun Nov 29 14:15:03 2015
//! **************************************************************************

SCHEMATIC START;
COMP "extram_addr<8>" LOCATE = SITE "AD10" LEVEL 1;
COMP "baseram_addr<9>" LOCATE = SITE "AC19" LEVEL 1;
COMP "extram_data<1>" LOCATE = SITE "AE3" LEVEL 1;
COMP "baseram_data<2>" LOCATE = SITE "AC26" LEVEL 1;
COMP "extram_addr<9>" LOCATE = SITE "AD9" LEVEL 1;
COMP "extram_data<2>" LOCATE = SITE "AE4" LEVEL 1;
COMP "baseram_data<3>" LOCATE = SITE "AB26" LEVEL 1;
COMP "baseram_addr<10>" LOCATE = SITE "AD20" LEVEL 1;
COMP "extram_data<3>" LOCATE = SITE "AF4" LEVEL 1;
COMP "baseram_data<4>" LOCATE = SITE "Y24" LEVEL 1;
COMP "baseram_addr<11>" LOCATE = SITE "AC20" LEVEL 1;
COMP "extram_data<4>" LOCATE = SITE "AE5" LEVEL 1;
COMP "baseram_data<5>" LOCATE = SITE "AA24" LEVEL 1;
COMP "extram_addr<10>" LOCATE = SITE "AC9" LEVEL 1;
COMP "baseram_addr<12>" LOCATE = SITE "AD21" LEVEL 1;
COMP "extram_data<5>" LOCATE = SITE "AF5" LEVEL 1;
COMP "baseram_data<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "extram_addr<11>" LOCATE = SITE "AD8" LEVEL 1;
COMP "baseram_addr<13>" LOCATE = SITE "AB22" LEVEL 1;
COMP "extram_data<6>" LOCATE = SITE "AF6" LEVEL 1;
COMP "baseram_data<7>" LOCATE = SITE "AB24" LEVEL 1;
COMP "extram_addr<12>" LOCATE = SITE "AB8" LEVEL 1;
COMP "baseram_addr<14>" LOCATE = SITE "AD22" LEVEL 1;
COMP "clk" LOCATE = SITE "U26" LEVEL 1;
COMP "extram_data<7>" LOCATE = SITE "AE7" LEVEL 1;
COMP "baseram_data<8>" LOCATE = SITE "AD19" LEVEL 1;
COMP "extram_addr<13>" LOCATE = SITE "AD7" LEVEL 1;
COMP "baseram_addr<15>" LOCATE = SITE "AA23" LEVEL 1;
COMP "extram_data<8>" LOCATE = SITE "AE13" LEVEL 1;
COMP "baseram_data<9>" LOCATE = SITE "AB18" LEVEL 1;
COMP "extram_addr<14>" LOCATE = SITE "AC7" LEVEL 1;
COMP "baseram_addr<16>" LOCATE = SITE "AC23" LEVEL 1;
COMP "extram_data<9>" LOCATE = SITE "AF13" LEVEL 1;
COMP "extram_addr<15>" LOCATE = SITE "AA4" LEVEL 1;
COMP "baseram_addr<17>" LOCATE = SITE "V23" LEVEL 1;
COMP "extram_addr<16>" LOCATE = SITE "AB3" LEVEL 1;
COMP "baseram_addr<18>" LOCATE = SITE "W22" LEVEL 1;
COMP "segdisp0<0>" LOCATE = SITE "B26" LEVEL 1;
COMP "extram_addr<17>" LOCATE = SITE "AB4" LEVEL 1;
COMP "baseram_addr<19>" LOCATE = SITE "W24" LEVEL 1;
COMP "segdisp0<1>" LOCATE = SITE "C25" LEVEL 1;
COMP "baseram_ce" LOCATE = SITE "AA26" LEVEL 1;
COMP "extram_addr<18>" LOCATE = SITE "AB5" LEVEL 1;
COMP "segdisp0<2>" LOCATE = SITE "D24" LEVEL 1;
COMP "extram_addr<19>" LOCATE = SITE "AB6" LEVEL 1;
COMP "segdisp0<3>" LOCATE = SITE "A25" LEVEL 1;
COMP "segdisp0<4>" LOCATE = SITE "B24" LEVEL 1;
COMP "segdisp0<5>" LOCATE = SITE "C26" LEVEL 1;
COMP "segdisp0<6>" LOCATE = SITE "D26" LEVEL 1;
COMP "baseram_data<10>" LOCATE = SITE "AD18" LEVEL 1;
COMP "baseram_data<11>" LOCATE = SITE "AC17" LEVEL 1;
COMP "extram_data<10>" LOCATE = SITE "AD11" LEVEL 1;
COMP "baseram_data<12>" LOCATE = SITE "AB17" LEVEL 1;
COMP "baseram_data<20>" LOCATE = SITE "AE25" LEVEL 1;
COMP "extram_data<11>" LOCATE = SITE "AC11" LEVEL 1;
COMP "baseram_data<13>" LOCATE = SITE "AF21" LEVEL 1;
COMP "baseram_data<21>" LOCATE = SITE "AE26" LEVEL 1;
COMP "extram_data<12>" LOCATE = SITE "AD12" LEVEL 1;
COMP "extram_data<20>" LOCATE = SITE "AC2" LEVEL 1;
COMP "baseram_data<14>" LOCATE = SITE "AE21" LEVEL 1;
COMP "baseram_data<22>" LOCATE = SITE "AD26" LEVEL 1;
COMP "baseram_data<30>" LOCATE = SITE "AF15" LEVEL 1;
COMP "write_enable" LOCATE = SITE "Y1" LEVEL 1;
COMP "extram_data<13>" LOCATE = SITE "AC12" LEVEL 1;
COMP "extram_data<21>" LOCATE = SITE "AB1" LEVEL 1;
COMP "baseram_data<15>" LOCATE = SITE "AF20" LEVEL 1;
COMP "baseram_data<23>" LOCATE = SITE "AC25" LEVEL 1;
COMP "baseram_data<31>" LOCATE = SITE "AE15" LEVEL 1;
COMP "extram_ce" LOCATE = SITE "AC3" LEVEL 1;
COMP "extram_data<14>" LOCATE = SITE "AD13" LEVEL 1;
COMP "extram_data<22>" LOCATE = SITE "AA2" LEVEL 1;
COMP "extram_data<30>" LOCATE = SITE "AF11" LEVEL 1;
COMP "baseram_data<16>" LOCATE = SITE "AE23" LEVEL 1;
COMP "baseram_data<24>" LOCATE = SITE "AF19" LEVEL 1;
COMP "extram_data<15>" LOCATE = SITE "AF14" LEVEL 1;
COMP "extram_data<23>" LOCATE = SITE "AA1" LEVEL 1;
COMP "extram_data<31>" LOCATE = SITE "AF12" LEVEL 1;
COMP "baseram_data<17>" LOCATE = SITE "AF24" LEVEL 1;
COMP "baseram_data<25>" LOCATE = SITE "AE19" LEVEL 1;
COMP "baseram_oe" LOCATE = SITE "AD17" LEVEL 1;
COMP "extram_data<16>" LOCATE = SITE "AE2" LEVEL 1;
COMP "extram_data<24>" LOCATE = SITE "AF7" LEVEL 1;
COMP "baseram_data<18>" LOCATE = SITE "AE24" LEVEL 1;
COMP "baseram_data<26>" LOCATE = SITE "AF18" LEVEL 1;
COMP "extram_data<17>" LOCATE = SITE "AE1" LEVEL 1;
COMP "extram_data<25>" LOCATE = SITE "AF8" LEVEL 1;
COMP "baseram_data<19>" LOCATE = SITE "AF25" LEVEL 1;
COMP "baseram_data<27>" LOCATE = SITE "AF17" LEVEL 1;
COMP "extram_data<18>" LOCATE = SITE "AD1" LEVEL 1;
COMP "extram_data<26>" LOCATE = SITE "AE9" LEVEL 1;
COMP "baseram_data<28>" LOCATE = SITE "AE17" LEVEL 1;
COMP "extram_data<19>" LOCATE = SITE "AC1" LEVEL 1;
COMP "extram_data<27>" LOCATE = SITE "AF9" LEVEL 1;
COMP "baseram_data<29>" LOCATE = SITE "AF16" LEVEL 1;
COMP "extram_data<28>" LOCATE = SITE "AF10" LEVEL 1;
COMP "extram_data<29>" LOCATE = SITE "AE11" LEVEL 1;
COMP "baseram_we" LOCATE = SITE "AA25" LEVEL 1;
COMP "extram_oe" LOCATE = SITE "AB9" LEVEL 1;
COMP "user_addr<0>" LOCATE = SITE "Y5" LEVEL 1;
COMP "user_addr<1>" LOCATE = SITE "W1" LEVEL 1;
COMP "read_enable" LOCATE = SITE "Y3" LEVEL 1;
COMP "user_addr<2>" LOCATE = SITE "W2" LEVEL 1;
COMP "user_addr<3>" LOCATE = SITE "V1" LEVEL 1;
COMP "user_addr<4>" LOCATE = SITE "U1" LEVEL 1;
COMP "user_addr<5>" LOCATE = SITE "U2" LEVEL 1;
COMP "user_addr<6>" LOCATE = SITE "R1" LEVEL 1;
COMP "extram_we" LOCATE = SITE "AC4" LEVEL 1;
COMP "user_data<0>" LOCATE = SITE "P1" LEVEL 1;
COMP "user_addr<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "baseram_addr<0>" LOCATE = SITE "Y26" LEVEL 1;
COMP "user_data<1>" LOCATE = SITE "N1" LEVEL 1;
COMP "extram_addr<0>" LOCATE = SITE "AD4" LEVEL 1;
COMP "baseram_addr<1>" LOCATE = SITE "W25" LEVEL 1;
COMP "user_data<2>" LOCATE = SITE "N2" LEVEL 1;
COMP "extram_addr<1>" LOCATE = SITE "AD3" LEVEL 1;
COMP "baseram_addr<2>" LOCATE = SITE "W26" LEVEL 1;
COMP "user_data<3>" LOCATE = SITE "M1" LEVEL 1;
COMP "extram_addr<2>" LOCATE = SITE "AD6" LEVEL 1;
COMP "baseram_addr<3>" LOCATE = SITE "V24" LEVEL 1;
COMP "extram_addr<3>" LOCATE = SITE "AC5" LEVEL 1;
COMP "baseram_addr<4>" LOCATE = SITE "V26" LEVEL 1;
COMP "extram_addr<4>" LOCATE = SITE "AD5" LEVEL 1;
COMP "baseram_addr<5>" LOCATE = SITE "AC14" LEVEL 1;
COMP "rst" LOCATE = SITE "T1" LEVEL 1;
COMP "extram_addr<5>" LOCATE = SITE "AD14" LEVEL 1;
COMP "baseram_addr<6>" LOCATE = SITE "AD15" LEVEL 1;
COMP "extram_addr<6>" LOCATE = SITE "AC13" LEVEL 1;
COMP "baseram_addr<7>" LOCATE = SITE "AC15" LEVEL 1;
COMP "baseram_data<0>" LOCATE = SITE "AC24" LEVEL 1;
COMP "extram_addr<7>" LOCATE = SITE "AB10" LEVEL 1;
COMP "baseram_addr<8>" LOCATE = SITE "AC16" LEVEL 1;
COMP "extram_data<0>" LOCATE = SITE "AF2" LEVEL 1;
COMP "baseram_data<1>" LOCATE = SITE "AD24" LEVEL 1;
SCHEMATIC END;

