//! **************************************************************************
// Written by: Map P.28xd on Fri Nov 06 10:34:51 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "U25" LEVEL 1;
COMP "RxD" LOCATE = SITE "T3" LEVEL 1;
COMP "TxD" LOCATE = SITE "N26" LEVEL 1;
COMP "RxD_data<0>" LOCATE = SITE "F26" LEVEL 1;
COMP "RxD_data<1>" LOCATE = SITE "G26" LEVEL 1;
COMP "RxD_data<2>" LOCATE = SITE "G25" LEVEL 1;
COMP "RxD_data<3>" LOCATE = SITE "H26" LEVEL 1;
COMP "RxD_data<4>" LOCATE = SITE "J26" LEVEL 1;
COMP "RxD_data<5>" LOCATE = SITE "J25" LEVEL 1;
COMP "RxD_data<6>" LOCATE = SITE "G23" LEVEL 1;
COMP "indicator<0>" LOCATE = SITE "M23" LEVEL 1;
COMP "RxD_data<7>" LOCATE = SITE "J24" LEVEL 1;
COMP "indicator<1>" LOCATE = SITE "K24" LEVEL 1;
COMP "TxD_data<0>" LOCATE = SITE "Y5" LEVEL 1;
COMP "TxD_data<1>" LOCATE = SITE "W1" LEVEL 1;
COMP "TxD_data<2>" LOCATE = SITE "W2" LEVEL 1;
COMP "TxD_data<3>" LOCATE = SITE "V1" LEVEL 1;
COMP "TxD_data<4>" LOCATE = SITE "U1" LEVEL 1;
COMP "TxD_data<5>" LOCATE = SITE "U2" LEVEL 1;
COMP "TxD_data<6>" LOCATE = SITE "R1" LEVEL 1;
COMP "TxD_data<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "ram_en" LOCATE = SITE "L25" LEVEL 1;
SCHEMATIC END;

