NET "clk" LOC = U26;		# 50M clk
NET "rst" LOC = T1;
NET "data_in[0]" LOC = Y5;
NET "data_in[1]" LOC = W1;
NET "data_in[2]" LOC = W2;
NET "data_in[3]" LOC = V1;
NET "data_in[4]" LOC = U1;
NET "data_in[5]" LOC = U2;
NET "data_in[6]" LOC = R1;
NET "data_in[7]" LOC = R2;
NET "data_out[0]" LOC = N26;
NET "data_out[1]" LOC = M26;
NET "data_out[2]" LOC = L25;
NET "data_out[3]" LOC = L26;
NET "data_out[4]" LOC = K26;
NET "data_out[5]" LOC = M23;
NET "data_out[6]" LOC = K24;
NET "data_out[7]" LOC = L24;

NET "TxD_start" LOC = T3;
NET "TxD_busy" LOC = F26;
NET "RxD_data_ready" LOC = G26;
