NET "RXD1" LOC = P58;
NET "TXD1" LOC = P54;
NET "RXD2" LOC = P56;
NET "TXD2" LOC = P55;
NET "PS2KB_CLOCK" LOC = P71;
NET "PS2KB_DATA" LOC = P70;
NET "IC0" LOC = P6;
NET "IC1" LOC = P7;
NET "IC2" LOC = P8;
NET "IC3" LOC = P9;
NET "IC4" LOC = P10;
NET "IC5" LOC = P11;
